{% extends 'core/base.html' %}
{% block page_title %}Tambah Kategori{% endblock %}
{% block breadcrumb %}Tambah Kategori{% endblock %}
{% block content %}

<div class="card shadow-sm">
  <div class="card-header bg-success text-white">
    <i class="fa fa-plus"></i> Form Tambah Kategori
  </div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        {{ form.nama.label_tag }} {{ form.nama }}
        {% if form.nama.errors %}
          <div class="text-danger small">{{ form.nama.errors }}</div>
        {% endif %}
      </div>
      <button class="btn btn-success"><i class="fa fa-save"></i> Simpan</button>
      <a href="{% url 'kategori_index' %}" class="btn btn-secondary">Kembali</a>
    </form>
  </div>
</div>
{% endblock %}
